
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1469880770'); /* IE9*/
  src: url('iconfont.eot?t=1469880770#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1469880770') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1469880770') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1469880770#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.so-search:before { content: "\e600"; }
.so-rili:before { content: "\e601"; }
.so-gps:before { content: "\e602"; }
.so-jiantou-bottom:before { content: "\e603"; }
.so-suo:before { content: "\e608"; }
.so-shuxian:before { content: "\e609"; }
.so-shouquan:before { content: "\e604"; }
.so-email:before { content: "\e605"; }
.so-date:before { content: "\e606"; }
